body,h1,ul,li{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
a:hover{
	color: #666;
}
img{
	display: block;
	border: 0;
}
.wj_banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.wj_banner img{
	width: 100%;
}
.long{
	cursor: pointer;
	position: absolute;
	top: 35%;
	left: 30%;
	color: #ddd;
	font-size: 30px;
	font-family: "SimSun-ExtB";
    display:inline-block;/*让span变为块状元素，只有块状元素可以缩放*/
    transform:scale(1,2);/*缩放属性；两个参数：(水平缩放比例,垂直缩放比例)；1表示原比例*/
    /*私有缩放属性，为了兼容各浏览器；注：不兼容IE8以下浏览器*/
    -ms-transform:scale(1,2);
    -webkit-transform:scale(1,2);
    -moz-transform:scale(1,2);
    -o-transform:scale(1,2);
}
.long .words{
	cursor: pointer;
	color: #80E8E9;
}
.smwords,.smwords2{
	position: absolute;
	left: 37%;
	top: 40.5%;
	color: #959595;
	font-family: "Aparajita";
	font-size: 16px;
	line-height: 20px;
}
.smwords2{
	top: 43%;
	left: 45%;
}
.wj_banner .aboutme{
	cursor: pointer;
	width: 65px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 48%;
	background: #76DAD8;
}
.aboutme p{
	position: absolute;
	top: -9px;
	font-family: "Aparajita";
	font-size: 14px;
	color: #1A2424;
	line-height: 14px;
}
.aboutme .smalblack{
	width: 15px;
	height: 15px;
	background: #151A1A;
	float: right;
	margin-top: 2.5px;
	color: #80E8E9;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	font-family:"SimSun-ExtB"; 
}
.wj_banner .back_down{
	position: absolute;
	left: 48%;
	bottom: 0;
	width: 60px;
	height: 40px;
	color: #fff;
	color: #767676;
	font-size: 40px;
	text-align: center;
	background: rgba(0,0,0,0.8);
	cursor: pointer;
}
/*banner结束*/
.wj_nav{
	width: 100%;
	height: 44px;
	background: #fff;
	border-top: 1px solid #80E8E9;
	position: relative;
}
.wj_nav .outer{
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 44px;
	margin: 0 auto;
	border-top: 2px solid #80E8E9;
}
.wrapper{

}
.wj_nav .owl{
	width: 900px;
	height: 44px;
	margin: 0 auto;
	/*background: #ccc;*/
}
.owl li{
	float: left;
}
.logo{
	position: relative;
	width: 150px;
}
.owl .logo a{
	font-size: 35px;
	color: #666;
}
.owl .logo a span{
	font-size: 40px;
	line-height: 30px;
	color: #80E8E9;
}
.owl .item a{
	color: #666;
}
.owl .item a:hover{
	color: #000;
}
.owl .item:hover{
	border-bottom: 2px solid #80E8E9;
}
.owl .home{
	font-family: "Aparajita";
	font-size: 25px;
	line-height: 48px;
}
.owl .item{
	margin-left: 40px;
	margin-right: 30px;
	text-align: center;
	width:80px;
	height: 44px;
}
.wj_nav .owl .page{
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	position: absolute;
	left: -8px;
	bottom: -15px;
	display: block;
	width: 70px;
	height: 15px;
	background: #80E8E9;
	font-family: "Aparajita";
}
/*nav结束*/
.wj_infmion{
	widows: 100%;
	height: 300px;
	background: #282828;
}
.wj_infmion .rap{
	position: relative;
	width:1200px;
	height: 100px;
	margin: 0 auto;
}
.wj_infmion .rap div{
	position: absolute;
	left: 12%;
	top: 0;
	float: left;
	margin-top: 50px;
	width: 200px;
	height: 20px;
	/*background: #666;*/
}
.wj_infmion .rap .in_on{
	left: 23%;
	top: 0;
	border-bottom: 1px solid #80E8E9;
}
.wj_infmion .rap .in_on3{
	left: 58%;
	top: 0;
	border-bottom: 1px solid #80E8E9;
}
.wj_infmion .rap .in_on2{
	left: 47%;
	top: 0;
}
.wj_infmion .in_on2 a{
	font-family: "SimSun-ExtB";
	font-size: 20px;
	color: #80e8e9;
}
.wj_infmion .in_on2 a span{
	font-size:30px;
}
.wj_infmion .in_words{
	width: 548px;
	height: 125px;
	margin: 0 auto;
	text-align: center;
}
.wj_infmion .in_words span{
	letter-spacing:-2px;
	font-size: 16px;
	font-family: "SimSun-ExtB";
	color: #6E6E6E;
}
.wj_infmion .in_main{
	position: absolute;
	left: 31%;
	width: 516px;
	height: 152px;
	background: #666;
	margin: 0 auto;
}
.wj_infmion .in_main div{
	float: left;
	width: 172px;
	height: 152px;
	overflow: hidden;
	background-repeat: no-repeat;
	
}
.wj_infmion .in_main .basic{
	position: relative;
	text-align: center;
	line-height: 20px;
	background: url(../img/basic.jpg);
}

.wj_infmion .in_main .basic .hand{
	font-size: 16px;
	color: #2b2a2a;
	padding-left: 10px;
}
.wj_infmion .in_main .basic .hand2{
	font-size: 14px;
	color: #3B4D4D;
	padding-left: 10px;
}
.wj_infmion .in_main .basic .basic2{
	display: block;
	padding-left: 37%;
	padding-top: 10%;
}
.wj_infmion .in_main .technology{
	background: url(../img/bmiddle.jpg);
}
.wj_infmion .in_main .inline{
	width: 172px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
}
.wj_infmion .in_main .l2{
	top: 0;
	left: 33.3333%;
	border-bottom: 2px solid #32272B;
}
.wj_infmion .in_main .l2 .point{
	width: 24px;
	height:30px;
	text-align: center;
	line-height: 22px;
	position: absolute;
	left: 46%;
	top:140px;
	color: #80E8E9;
	background: #3D3B3B
}
.wj_infmion .in_main .l3{
	top: 0;
	left: 66.666%;
}
.wj_infmion .in_main .inline:hover{
	border-bottom: 2px solid #32272B;

}
/*基本资料结束*/
.wj_works{
	width: 100%;
	height: 820px;
	background: #fff;
}
.wj_works .rap{
	position: relative;
	width:1200px;
	height: 100px;
	margin: 0 auto;
}
.wj_works .rap div{
	position: absolute;
	left: 12%;
	top: 0;
	float: left;
	margin-top: 50px;
	width: 200px;
	height: 20px;
}
.wj_works .rap .in_on{
	left: 23%;
	top: 0;
	border-bottom: 1px solid #C1C1C1;
}
.wj_works .rap .in_on3{
	left: 58%;
	top: 0;
	border-bottom: 1px solid #C1C1C1;
}
.wj_works .rap .in_on2{
	left: 47%;
	top: 0;
}
.wj_works .in_on2 a{
	font-family: "SimSun-ExtB";
	font-size: 20px;
	color: #434343;
}
.wj_works .in_on2 a span{
	font-size:30px;
}
.wj_works .in_words span{
	letter-spacing:-2px;
	font-size: 16px;
	font-family: "SimSun-ExtB";
	color: #6E6E6E;
}
.wj_works .in_words{
	width: 548px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
}
.wj_works .down{
	margin-top: 100px;
}
.wo_wramp{
	position: relative;
}
.wj_works .wo_wramp .wo_main{
	position: absolute;
	left: 38%;
	top: 0;
	width: 800px;
}
.wj_works .wo_wramp .wo_main .wo_yi{
	float: left;
	margin-left: 10px;
}
.wj_works .wo_yi{
	position: relative;

}
.wj_works .wo_yi a{
	font-size: 12px;
	color: #A7A7A7;
	padding: 3px;
	border: 1px solid #CFCFCF;
	background: #F7F7F7;
}
.wj_works .wo_yi a:hover{
	color: #666;
	background: #80E8E9;
}
.wj_works .wo_wramp .wo_wks{
	position: absolute;
	top: 50px;
	left: 17%;
	width: 900px;
	height: 600px;
	margin: 0 auto;
}
.wo_wramp .wo_wks li{
	position: relative;
	float: left;
	text-align: center;
}
.wo_wramp .wo_wks li .wo_item{
	display: block;
	width:300px;
	height: 300px;
	overflow: hidden;
}
.wo_wramp .wo_wks a img{
	width: 100%;
}
.wj_works .wo_wramp .wo_wks .wo_station{
	width: 300px;
	height: 297px;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 24px;
	color: #666;
	line-height: 100px;
	background: rgba(0,0,0,0.7);
	border-bottom: 4px solid #010101;
}
.wj_works .wo_wramp .wo_wks .wo_station span{
	padding-top: 200px;
	display: none;
}
.wj_works .wo_wramp .wo_wks .wo_station:hover{
	color: #80e8e9;
	background: rgba(0,0,0,0.3);
	border-bottom: 4px solid #80e8e9;
}
/*作品展示结束*/
.wj_ordeal{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}
.wj_ordeal a{
	color: #666;
}
.wj_ordeal .point{
	width: 24px;
	height:15px;
	text-align: center;
	line-height: 22px;
	color: #80E8E9;
	background: #3D3B3B;
	margin: 0 auto;
}
.wj_or{
	width: 100%;
	height: 144px;
	background: #1E1E1E;
	position: relative;
}
.wj_or .wj_item{
	float: left;
	margin-left: 25%;
	margin-top: 50px;
	width: 700px;
	height: 180px;
	background: #80e8e9;
}
.wj_or .wj_img{
	position: absolute;
	left: 26%;
	top: 65px;
	width: 280px;
	height: 180px;
	overflow: hidden;
}
.wj_or .wj_img a img{
	width: 70%;
}









































































.boe{
	height: 500px;
	width: 100%;
	background: #ccc;
}